<div class="form-row" hidden>
  <input type="text" class="form-control" name="ign" value="<%= generalInfo.ign %>">
  <input type="text" class="form-control" name="discordName" value="<%= user.username%>" readonly>
  <select name="serverAssistance" class="form-control" id="generalServerSelect">
    <option value="<%= generalInfo.serverAssistance %>"></option>
  </select>
  <select name="typeOfRequest" class="form-control" id="generalTicketSelect" required>
    <option value="<%= ticketType %>"></option>
  </select>
  <input type="text" class="form-control" name="timeToContact" value="<%= generalInfo.timeToContact %>">
</div>