<%- include('../partials/head.ejs'); %>
  <title>User: <%= user.username %> - DomiNATION Ark: Survival Evolved Community</title>
<%- include('../partials/css.ejs'); %>
</head>
<body>
    <%- include('../partials/nav.ejs'); %>
    <h1 class="ng-scope">Welcome</h1>
    <img src="<%=user.picture%>"/>
    <div>Your userID is <%= user.id %></div>
    <div>You currently have ### open tickets.</div>
    </div>

</body>
</html>