<%- include('../partials/head.ejs'); %>
  <title>Ticket Status : <%= user.username %> - DomiNATION Ark: Survival Evolved Community</title>
<%- include('../partials/css.ejs'); %>
</head>
<body>
  <%- include('../partials/nav.ejs'); %>
  <h1 class="ng-scope">Status Page</h1>
  <img src="<%=user.picture%>"/>
  <div>Your userID is <%= user.id %></div>
  <div>You current have ### tickets open, and you've submitted ### tickets.</div>

  <form>
    <h3 class="text-to-hide">Title</h3>
    <div class="form-group">
      <label class="form-to-show"></label>
    </div>

  </form>

  </div>
</body>
</html>