<%- include('../../partials/head.ejs'); %>
  <title>User: <%= user.username %> - DomiNATION Ark: Survival Evolved Community</title>
<link rel="stylesheet" type="text/css" href="styles/forms.css">
<script src="/js/app.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" integrity="sha256-gBxd65TVOCRCDC48+AXN6hhg3I/fZqE/BnwgKwdzJG4=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js" integrity="sha256-PbFF1Mdg86urwOYXWNJPP4z5Ge9KLp6KXX1NURQY8Ho=" crossorigin="anonymous"></script>
</head>
<body>
<body>
  <%- include('../../partials/nav.ejs'); %>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-x1-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <h1 class="ng-scope text-center">General Support Ticket</h1>
        <div class="px-2">
          <form class="needs-validation justify-content-center" novalidate action="ticket-submit" method="POST">
            <%- include('../../partials/completedGeneralTicket.ejs'); %>
            <div class="form-group">
              <label for="event_name">Which Event did you attend?</label>
              <input type="text" name="event_name" class="form-control mx-auto" required>
            </div>
            <div class="form-group">
              <label for="serverid_dropoff">Which server do you want the element on?</label>
              <select name="serverid_dropoff" class="form-control mx-auto" id="server_dropoff" required>
                <%- include('../../partials/serverList.ejs'); %>
                </select>
            </div>
            <div class="form-group">
              <label for="patreon">
                Are you Patreon?
                <a tabindex="0" 
                data-toggle="popover" 
                data-trigger="focus"
                data-html="true" 
                title="Incorrect option?" 
                data-content="This box is automatically populated based on the roles you have assigned to your Discord account in the DomiNATION server.  If this is the incorrect option, please ensure that you've signed into the correct account.">
                <i class="fas fa-info-circle"></i>
                </a>
              </label>
              <% if (user.isPatreon == true) { %>
              <input type="text" name="patreon" class="form-control mx-auto" value="Yes" readonly>
              <% } else { %>
              <input type="text" name="patreon" class="form-control mx-auto" value="No" readonly>
              <% } %>
            </div>
            <div class="text-center">
              <input type="submit" value="Submit Ticket">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>