<%- include('../../partials/head.ejs'); %>
  <title>Submit a new Ticket : <%= user.username %> - DomiNATION Ark: Survival Evolved Community</title>
<%- include('../../partials/css.ejs'); %>
<link rel="stylesheet" type="text/css" href="styles/forms.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"></script>
<script src="/js/app.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/css/bootstrapValidator.min.css" integrity="sha256-gBxd65TVOCRCDC48+AXN6hhg3I/fZqE/BnwgKwdzJG4=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js" integrity="sha256-PbFF1Mdg86urwOYXWNJPP4z5Ge9KLp6KXX1NURQY8Ho=" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('../../partials/nav.ejs'); %>
  <br>
  <br>
  <br>
  <form class="needs-validation" novalidate action="form_submit" method="POST">
    <%- include('../../partials/completedGeneralTicket.ejs'); %>
    <div class="form-row">
      <legend>Ban Appeal</legend>
      <div class="form-group col-md-6">
          <label for="banAppealSteamID">What is your Steam ID?</label>
          <input type="text" name="banAppealSteamID" class="form-control" required>
          <label for="banAppealEmailAddress">What is a good email address to contact you at?</label>
          <input type="text" name="banAppealEmailAddress" class="form-control" required>
          <label for="banAppealBannedReason">Why were you banned?</label>
          <input type="text" name="banAppealBannedReason" class="form-control" required>
          <label for="banAppealUnbannedReason">Why do you think your ban should be removed?</label>
          <input type="text" name="banAppealUnbannedReason" class="form-control" required>
        </fieldset>
      </div>

    </div>
    <input type="submit" value="Click to Submit">
  </form>
  <footer>

  </footer>
</body>
</html>