<%- include('../../partials/head.ejs'); %>
  <title>User: <%= user.username %> - DomiNATION Ark: Survival Evolved Community</title>
<link rel="stylesheet" type="text/css" href="styles/forms.css">
<script src="/js/app.js" type="text/javascript"></script>
</head>
<body>
    <%- include('../../partials/nav.ejs'); %>
  <h1 class="ng-scope text-center">Administrative Panel</h1>
  <br />
  <br />
  <div class="container">
    <div class="infobox greybox">
      <div class="row">
        <div class="col-sm-3">
          <div class="tabs">
            <ul class="nav flex-column nav-tabs">
              <li class="nav-item">
                <span class="nav-link active" id="serverTab">Server List</span>
              </li>
              <li class="nav-item">
                <span class="nav-link" id="dinoTab">Dinosaur List</span>
              </li>
              <li class="nav-item">
                <span class="nav-link" id="dinoColorTab">Dinosaur Colors</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-9 admincontainer">
          <div id="serverListing">
            <!--Server Listing-->
            <div class="pb-1">
              <a class="add-server fas fa-plus"
                href="#"
                tabindex="-1"
                role="button"
                data-toggle="modal"
                data-target="#addServerModal"> Add a new server
              </a>
            </div>
            <% for (let i = 0; i < servers.length; i++) { %>
              <div class="pb-1">
                <a class="edit-server fas fa-edit" 
                  href="#" 
                  tabindex="-1" 
                  role="button" 
                  data-toggle="modal" 
                  data-target="#editServerModal" 
                  data-serverid="<%=servers[i].server_id%>"
                  data-id="<%=servers[i].id%>"
                  data-servername="<%=servers[i].server_name%>">
                </a>
                DomiNATION #<%=servers[i].server_id%> - <%=servers[i].server_name%>
              </div>
            <% } %>
          </div>
          <div id="dinosaurListing" hidden>
            <!--Dinosaur Listing-->
            <div class="pb-1">
              <a class="add-dinosaur fas fa-plus"
                href="#"
                tabindex="-1"
                role="button"
                data-toggle="modal"
                data-target="#addDinosaurModal"> Add a new dinosaur
              </a>
            </div>
            <% for (let i = 0; i < dino_names.length; i++) { %>
              <div class="pb-1">
                <a class="edit-dinosaur fas fa-edit"
                href="#"
                tabindex="-1"
                role="button"
                data-toggle="modal"
                data-target="#editDinosaurModal"
                data-dinoid="<%=dino_names[i].id%>"
                data-dinospawn="<%=dino_names[i].spawn%>"
                data-dinolvl="<%=dino_names[i].lvl%>"
                data-dinoname="<%=dino_names[i].name%>">
              </a>
              <%=dino_names[i].name%>
            </div>
              <% } %>
          </div>
          <div id="dinosaurColorListing" hidden>
            <!--Dinosaur Colors-->
            <div class="pb-1">
              <a class="add-dino-color fas fa-plus"
                href="#"
                tabindex="-1"
                role="button"
                data-toggle="modal"
                data-target="#addDinosaurColorModal"> Add a new color
              </a>
            </div>
            <% for (let i = 0; i < dino_colors.length; i++) { %>
              <div class="pb-1">
                <a class="edit-dinosaur-color fas fa-edit"
                  href="#"
                  tabindex="-1"
                  role="button"
                  data-toggle="modal"
                  data-target="#editDinosaurColorModal"
                  data-colorid="<%=dino_colors[i].id%>"
                  data-dinocolorid="<%=dino_colors[i].color_id%>"
                  data-dinocolorname="<%=dino_colors[i].color_name%>"
                  data-dinocolorhex="<%=dino_colors[i].color_hex%>">
                </a>
                <%=dino_colors[i].color_name%>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>    
  </div> <!--End of container-->
  
  <!--Server Modals-->
  <div class="modal fade" id="editServerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit</h5>
          <button type="button" class="close" data-dismiss="modal" area-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="/edit" id="edit-server-form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-12">
                <div>
                  <label for="server_id">Server Number:</label>
                  <input id="editServerModal-server_id" name="server_id" type="number" value="" style="width:2.5em" />
                  <input id="editServerModal-id" name="id" type="number" value="" hidden />
                </div>
                <div>
                  <label for="server_name">Server Name:</label>
                  <input id="editServerModal-server_name" name="server_name" type="text" value="" />
                </div>
              </div>
            </div>
          </div>
        </form>
        <form method="POST" action="/remove" id="delete-server-form">
        <input id="editServerModal-remove_server_id" name="server_id" value="" hidden>
        </form>
            <div class="modal-footer text-center">
              <button type="submit" form="edit-server-form" class="btn btn-success">Save</button>
              <button type="submit" form="delete-server-form" class="btn btn-danger delete">Delete</button>
              <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
            </div>
      </div>
    </div>
  </div>
    
  <div class="modal fade" id="addServerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add</h5>
          <button type="button" class="close" data-dismiss="modal" area-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="/add">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-12">
              <div>
                <label for="server_id">Server Number:</label>
                <input id="addServerModal-server_id" name="server_id" type="number" value="" style="width:2.5em" />
              </div>
              <div>
                <label for="server_name">Server Name:</label>
                <input id="addServerModal-server_name" name="server_name" type="text" value="" />
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer text-center">
          <button class="btn btn-success">Save</button>
          <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <!--End Server Modals-->

  <!--Dinosaur Modals-->
  <div class="modal fade" id="editDinosaurModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit</h5>
          <button type="button" class="close" data-dismiss="modal" area-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="/edit" id="edit-dinosaur-form">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-12">
                <div>
                  <label for="dinosaur_name">Dino name:</label>
                  <input id="editDinosaurModal-dino_name" name="dino_name" type="text" value="" />
                  <input id="editDinosaurModal-dino_id" name="dino_id" type="number" value="" hidden />
                </div>
                <div>
                  <label for="editDinosaurModal-dino_spawn">Spawn code:</label>
                  <input id="editDinosaurModal-dino_spawn" name="dino_spawn" type="text" value="" />
                </div>
                <div>
                  <label for="editDinosaurModal-dino_lvl">Max wild lvl:</label>
                  <input id="editDinosaurModal-dino_lvl" name="dino_lvl" type="number" value="" />
                </div>
              </div>
            </div>
          </div>
        </form>
        <form method="POST" action="/remove" id="delete-dinosaur-form">
        <input id="editDinosaurModal-remove_dino_id" name="dino_id" value="" hidden>
        </form>
            <div class="modal-footer text-center">
              <button type="submit" form="edit-dinosaur-form" class="btn btn-success">Save</button>
              <button type="submit" form="delete-dinosaur-form" class="btn btn-danger delete">Delete</button>
              <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
            </div>
      </div>
    </div>
  </div>
    
  <div class="modal fade" id="addDinosaurModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add</h5>
          <button type="button" class="close" data-dismiss="modal" area-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="/add">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-12">
              <div>
                <label for="dino_name">Dino name:</label>
                <input id="addServerModal-dino_name" name="dino_name" type="text">
              </div>
              <div>
                <label for="dino_spawn">Spawn code:</label>
                <input id="addServerModal-dino_spawn" name="dino_spawn" type="text">
              </div>
              <div>
                <label for="dino_lvl">Max wild lvl:</label>
                <input id="addServerModal-dino_lvl" name="dino_lvl" type="text">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer text-center">
          <button class="btn btn-success">Save</button>
          <button class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <!--End Dinosaur Modals-->

  <div class="modal fade" id="editDinosaurColorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit</h5>
          <button type="button" class="close" data-dismiss="modal" area-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="/edit" id="edit-dinosaur-color-form">
          <div class="modal-body">
            <div class="form-group col-md-12">
              <div>
                <label for="dinosaur_color_id">Color ID:</label>
                <input id="editDinosaurColorModal-color_id" name="dino_color_id" type="number" value="" />
                <input id="editDinosaurColorModal-actual_id" name="id" type="number" value="" hidden />
              </div>
              <div>
                <label for="dinosaur_color_name">Color Name:</label>
                <input id="editDinosaurColorModal-color_name" name="dino_color_name" type="text" value="" />
              </div>
              <div>
                <label for="dinosaur_color_hex">Hex Code:</label>
                <input id="editDinosaurColorModal-color_hex" name="dino_color_hex" type="text" value="" />
              </div>
            </div>
          </div>
        </form>
        <form method="POST" action="/remove" id="delete-dinosaur-color-form">
          <input id="editDinosaurColorModal-remove_id" name="dino_color_id" value="" hidden>
        </form>
        <div class="modal-footer text-center">
          <button type="submit" form="edit-dinosaur-color-form" class="btn btn-success">Save</button>
          <button type="submit" form="delete-dinosaur-color-form" class="btn btn-danger delete">Delete</button>
          <a href="#" class="btn btn-secondary" data-dismiss="modal">Close</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="addDinosaurColorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add</h5>
          <button type="button" class="close" data-dismiss="modal" area-label="Close">
            <span area-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="/add">
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-12">
                <div>
                  <label for="dinosaur_color_id">Color ID:</label>
                  <input id="editDinosaurColorModal-color_id" name="dino_color_id" type="number" value="" />
                  <input id="editDinosaurColorModal-actual_id" name="id" type="number" value="" hidden />
                </div>
                <div>
                  <label for="dinosaur_color_name">Color Name:</label>
                  <input id="editDinosaurColorModal-color_name" name="dino_color_name" type="text" value="" />
                </div>
                <div>
                  <label for="dinosaur_color_hex">Hex Code:</label>
                  <input id="editDinosaurColorModal-color_hex" name="dino_color_hex" type="text" value="" />
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer text-center">
            <button class="btn btn-success">Save</button>
            <button class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>



</div> <!--Close of content-->

</body>
</html>