<%- include('../../partials/head.ejs'); %>
  <title>User: <%= user.username %> - DomiNATION Ark: Survival Evolved Community</title>
<link rel="stylesheet" type="text/css" href="styles/forms.css">
<script src="/js/app.js" type="text/javascript"></script>
</head>
<body>
    <%- include('../../partials/nav.ejs'); %>
  <h1 class="ng-scope text-center">Administrative Panel</h1>
  <div class="container">
    <div>
      <input id="searchName" type="text">
    </div>

    <table class="table table-striped">
      <tbody class="tickets-table">
        <tr>
          <th class="ng-scope">Date Submitted</th>
          <th class="ng-scope">Ticket Type</th>
          <th class="ng-scope">User</th>
          <th class="ng-scope">Status</th>
          <th class="ng-scope">Date Completed</th>
          <th class="ng-scope">ID</th>
        </tr>
        <% for (let i = 0; i < tickets.length; i++) { %>
          <tr class="ng-scope tickets">
            <td class="ng-scope"><%=tickets[i].submitted_on%></td>
            <td class="ng-scope"><%=tickets[i].type_of_ticket%></td>
            <td class="ng-scope"><%=tickets[i].ign%></td>
            <td class="ng-scope"><%=tickets[i].status%></td>
            <td class="ng-scope"><%=tickets[i].closed_on%></td>
            <td class="ng-scope"><a href="/details/<%=tickets[i].id%>">View ticket</a></td>
          </tr>
        <% } %>
      </tbody>
    </table>

  </div>
</div> <!--Close of content-->

</body>
</html>