<%- include('../../partials/head.ejs'); %>
  <title>User: <%= user.username %> - DomiNATION Ark: Survival Evolved Community</title>

<link rel="stylesheet" type="text/css" href="/styles/forms.css">

<script src="/js/app.js" type="text/javascript"></script>
<script src="/js/datatables.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.22/sorting/datetime-moment.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">

</head>
<body>
    <%- include('../../partials/nav.ejs'); %>
  <h1 class="ng-scope text-center">Administrative Panel</h1>
  <h3 class="ng-scope text-center">Open Tickets</h3>
  <div class="container">
    <table class="table table-striped" id="openTickets">
      <thead>
        <tr>
          <th class="ng-scope">Date Submitted</th>
          <th class="ng-scope">Server</th>
          <th class="ng-scope">Ticket Type</th>
          <th class="ng-scope">User</th>
          <th class="ng-scope">Discord ID</th>
          <th class="ng-scope">Status</th>
          <th class="ng-scope">ID</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < openTickets.length; i++) { %>
          <tr class="ng-scope tickets">
            <td class="ng-scope"><%=openTickets[i].submitted_on%></td>
            <td class="ng-scope">#<%=openTickets[i].server_assistance%></td>
            <td class="ng-scope"><%=openTickets[i].type_of_ticket%></td>
            <td class="ng-scope"><%=openTickets[i].ign%></td>
            <td class="ng-scope"><%=openTickets[i].discord_name%></td>
            <td class="ng-scope"><%=openTickets[i].status%></td>
            <td class="ng-scope"><a href="/details/<%=openTickets[i].id%>">View ticket</a></td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <br />
    <h3 class="ng-scope text-center">Closed Tickets</h3>
    <br />
    <table class="table table-striped" id="closedTickets">
      <thead>
        <tr>
          <th class="ng-scope">Date Completed</th>
          <th class="ng-scope">Server</th>
          <th class="ng-scope">Ticket Type</th>
          <th class="ng-scope">User</th>
          <th class="ng-scope">Discord ID</th>
          <th class="ng-scope">Status</th>
          <th class="ng-scope">ID</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < closedTickets.length; i++) { %>
          <tr class="ng-scope tickets">
            <td class="ng-scope"><%=closedTickets[i].closed_on%></td>
            <td class="ng-scope">#<%=closedTickets[i].server_assistance%></td>
            <td class="ng-scope"><%=closedTickets[i].type_of_ticket%></td>
            <td class="ng-scope"><%=closedTickets[i].ign%></td>
            <td class="ng-scope"><%=closedTickets[i].discord_name%></td>
            <td class="ng-scope"><%=closedTickets[i].status%></td>
            <td class="ng-scope"><a href="/details/<%=closedTickets[i].id%>">View ticket</a></td>
          </tr>
        <% } %>
      </tbody>
    </table>

  </div>
</div> <!--Close of content-->

</body>
</html>